# SPDX-FileCopyrightText: 2022 Romain Vigier <contact AT romainvigier.fr>
#
# SPDX-License-Identifier: GPL-3.0-or-later

[D-BUS Service]
Name=@APP_ID@
Exec=@BINDIR@/@APP_ID@ --gapplication-service
